# --- Python Specifics ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.deprecated

# --- Django Specifics ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# --- Environment Variables (Crucial for DRF Security) ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# --- IDE/Editor Specifics ---
.vscode/
.idea/
*.swp
*.swo

# --- OS Specifics ---
.DS_Store
Thumbs.db
